@import "reset.less";

@purple: #684AFF;
@col-width: 35px;
@midsize: 800px;
@smallsize: 500px;
@header-height-lg: 120px;
@header-height-sm: 100px;

html, body {
	height: 100%;
}

body {
	font-family: "Roboto Condensed", Roboto, Helvetica, Arial, sans-serif;
}

header {
	height: @header-height-lg;
	position: absolute;
	top: 0;
	width: 100%;
	color: white;
	line-height: 1.2;
	padding: 20px;
	background: @purple;
	text-align: center;
	@media all and (max-width: @smallsize) {
		height: @header-height-sm;
		padding: 10px;
	}
	a {
		color: white;
	}
}

h1 {
	font-family: "Slabo 13px", "Roboto Slab", Georgia, serif;
	font-size: 32px;
	margin-bottom: 16px;
	@media all and (max-width: @smallsize) {
		font-size: 24px;
		margin-bottom: 10px;
	}
}

.wrapper {
	max-width: 1024px;
	text-align: center;
	display: block;
	margin: auto;
}

section {
	height: 100%;
	padding: (@header-height-lg + 20px) 20px 20px;
	@media all and (max-width: @midsize) {
		padding: @header-height-lg 0 0;
	}
	@media all and (max-width: @smallsize) {
		padding-top: @header-height-sm;
	}
	.wrapper {
		box-shadow: 0 10px 48px rgba(0,0,0,.35);
	}
}

table {
	width: 100%;
	@media all and (max-width: @smallsize) {
		font-size: 14px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	td, th {
		height: 50px;
		vertical-align: middle;
		text-align: left;
		border-right: 1px solid #ddd;
		padding-left: 5px;
		div {
			display: inline-block;
		}
	}
	td {
		min-width: 80px;
		&:first-of-type {
			min-width: 0;
			width: 50px;
			border-top: none;
			border-right: none;
			margin-top: 1px;
			max-width: 50px;
			padding: 0;
			text-align: center;
			img {
				width: 48px
			}
		}
	}
	th {
		background: #ddd;
		padding-top: 15px;
		&:first-of-type {
			width: 50px;
			height: 51px;
			background: #ddd;
		}
	}

	thead tr {
		background: #ddd;
		td:first-of-type {
			margin: 0;
		}
	}

	tbody tr {
		td {
			background: white;
			border-bottom: 1px solid #ddd;
		}
		&:nth-of-type(even) {
			td {
				background: #f0f0f0;
			}
		}
	}
	img {
		width: 24px;
	}
	svg {
		fill: #555;
	}
	.colspan-2 {
		min-width: @col-width*2;
	}
	.colspan-3 {
		min-width: @col-width*3+;
	}
	.colspan-4 {
		min-width: @col-width*4;
	}
	.colspan-5 {
		min-width: @col-width*5;
	}
	.flex-wrapper {
		display: flex;
	}
	.flex-col {
		width: 30px;
		text-align: center;
	}
}

.fTHLC-outer-wrapper {
	background: #ddd; // make clone table header full color
}

