@import "reset.less";
@import "angular-tooltips.less";

@font-stack: "Roboto Condensed", Roboto, Helvetica, Arial, sans-serif;
@purple: #684AFF;
@col-width: 35px;
@mid-size: 800px;
@small-size: 500px;
@header-height-lg: 88px;
@header-height-sm: 74px;

html, body {
	height: 100vh;
}

body {
	font-family: @font-stack;
	color: #333;
}

header {
	height: @header-height-lg;
	position: absolute;
	top: 0;
	width: 100%;
	color: white;
	line-height: 1.2;
	//padding: 16px 20px 0;
	z-index: 2;
	background: @purple;
	@media all and (max-width: @small-size) {
		height: @header-height-sm;
		//padding: 0 10px;
	}
	.top-wrapper {
		padding: 10px 10px 0;
		@media all and (max-width: @small-size) {
			padding-top: 5px;
		}
	}
	a {
		color: white;
		text-decoration: none;
	}
	span {
		@media all and (max-width: @small-size) {
			display: none;
		}
	}
	.icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		svg {
			fill: white;
		}
	}
}

#logo {
	margin: -8px 0;
	@media all and (max-width: @small-size) {
		width: 120px;
		margin: -4px 0 -10px;
	}
}

h1 {
	position: absolute;
	text-indent: -9999px;
}

.wrapper {
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.scroll-tabs {
	width: 100%;
	margin-top: 12px;
	padding: 0 10px;
	@media all and (max-width: @small-size) {
		overflow: scroll;
	}
	ul {
		min-width: 470px;
		li {
			display: inline-block;
			padding: 0 10px 5px;
			margin-right: 10px;
			border-bottom: 4px solid transparent;
			transition: border .2s;
			&.active {
				border-bottom: 4px solid white;
			}
			@media all and (max-width: @small-size) {
				padding: 0 5px 5px;
			}
		}
	}
}

section {
	height: 100%;
	padding: (@header-height-lg + 10px) 20px 20px;
	position: relative;
	&:before {
		height: 40px + @header-height-lg;
		background: @purple;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		@media all and (max-width: @mid-size) {
			display: none;
		}
	}
	@media all and (max-width: @mid-size) {
		padding: @header-height-lg 0 0;
	}
	@media all and (max-width: @small-size) {
		padding-top: @header-height-sm;
	}
	.wrapper {
		height: 100%;
		position: relative;
	}
	.shadow-wrapper {
		box-shadow: 0 20px 56px rgba(0,0,0,.35);
	}
}

.filters {
	position: absolute;
	top: 14px;
	left: 13px;
	z-index:1;
	cursor: pointer;
}

table {
	width: 100%;
	@media all and (max-width: @small-size) {
		font-size: 14px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	td, th {
		height: 50px;
		vertical-align: middle;
		text-align: left;
		border-right: 1px solid #ddd;
		padding: 0 5px;
		white-space: nowrap;
		cursor: default;
		div {
			display: inline-block;
		}
	}
	td {
		min-width: 80px;
		&:first-of-type {
			min-width: 0;
			width: 50px;
			border-top: none;
			border-right: none;
			margin-top: 1px;
			max-width: 50px;
			padding: 0;
			text-align: center;
			img {
				width: 48px
			}
		}
	}
	th {
		background: #ddd;
		padding-top: 15px;
		&:first-of-type {
			width: 50px;
			height: 51px;
			background: #ddd;
		}
	}

	thead tr {
		background: #ddd;
		td:first-of-type {
			margin: 0;
		}
	}

	tbody tr {
		td {
			background: white;
			border-bottom: 1px solid #ddd;
		}
		&:nth-of-type(even) {
			td {
				background: #f0f0f0;
			}
		}
	}
	img {
		width: 24px;
	}
	svg {
		fill: #555;
	}
	.pricing-col {
		min-width: 56px;
		* {
			vertical-align: middle;
		}
	}
	.colspan-2 {
		min-width: @col-width*2;
	}
	.colspan-3 {
		min-width: @col-width*3+;
	}
	.colspan-4 {
		min-width: @col-width*4;
	}
	.colspan-5 {
		min-width: @col-width*5;
	}
	.colspan-7 {
		min-width: @col-width*7;
	}
	.colspan-8 {
		min-width: @col-width*8;
	}
	.flex-wrapper {
		display: flex;
	}
	.flex-col {
		width: 30px;
		text-align: center;
	}
	// .pricing {
	// 	.col {
	// 		margin-right: 5px;
	// 	}
	// 	* {
	// 		vertical-align: middle;
	// 	}
	// }
}

.fTHLC-outer-wrapper {
	&:before { // for header background color
		content: '';
		background: #ddd;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 51px;
	}
	// &:after { // for shadow, but renders on top of scrollbars on Windows
	// 	content: '';
	// 	background-image: linear-gradient(right, rgba(0,0,0,.1), rgba(0,0,0,0));
	// 	position: absolute;
	// 	right: 0;
	// 	top: 0;
	// 	width: 30px;
	// 	height: 100%;
	// }
}

.zero-state {
	background: #f0f0f0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 15%;
	border: 1px solid #ccc;
	svg {
		fill: #ccc;
		transform: scale(2);
	}
	h4 {
		margin-top: 24px;
		color: #999;
	}
}

.filters-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: fade(black, 10%);
	z-index: 2;
	opacity: 1;
	transition: opacity .2s;
	.modal-wrapper{
		position: absolute;
		top: 126px;
		left: 14px;
		padding: 16px 20px;
		background: white;
		max-width: 500px;
		z-index: 2;
		box-shadow: 0 10px 24px fade(black, 30%);
		transition: all .2s ease-in-out;
	}
	ul {
		columns: 100px 2;
		li {
			line-height: 32px;
		}
		input {
			margin-right: 10px;
		}
	}
	button {
		appearance: none;
		background: none;
		cursor: pointer;
		color: @purple;
		outline: none;
		box-shadow: none;
		font-family: @font-stack;
		font-size: 16px;
		border: 0;
		margin-top: 10px;
		height: 32px;
	}
	.button-container {
		text-align: center;
		clear: both;
	}
	&.ng-hide {
			opacity: 0;
			.modal-wrapper {
				transform: translateY(-10px);
			}
		}
	@media all and (max-width: @small-size) {
		background: fade(black, 50%);
		.wrapper {
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
		}
		.modal-wrapper {
			position: relative;
			transform: translateY(0);
			top: auto;
			left: auto;
			width: 100%;
			background: white;
			box-shadow: 0 10px 48px fade(black, 30%);
			padding: 20px;
		}
		&.ng-hide {
			opacity: 0;
			.modal-wrapper {
				transform: translateY(100px);
			}
		}
	}
	@media all and (max-width: @mid-size) {
		padding: 0;
	}
	
}

