@import "variables.less";
@import "reset.less";
@import "angular-tooltips.less";
@import "sidebar.less";

body{
	font-family: @font-stack;
	color: #333;
}

#page {
	position: relative;
	z-index: 2;
	transform: translate3d(0,0,0);
	transition: transform .35s ease-in-out;
	&.show-menu {
		transform: translate3d(-@sidebar-size,0,0);
		box-shadow: 10px 0 30px rgba(0,0,0,.35);
		transition: box-shadow 0 .35s, transform .35s ease-in-out;
	}
}

#hamburger {
	display: flex;
	align-items: center;
	height: 48px;
	cursor: pointer;
	svg, span {
		vertical-align: middle;
	}
	@media all and (min-width: (@mid-size+1)) {
		display: none;
	}
	@media all and (max-width: @small-size) {
		font-size: 14px;
	}
}

header {
	width: 100%;
	color: white;
	line-height: 1.2;
	z-index: 2;
	background: @blue-primary;
	a {
		color: white;
		text-decoration: none;
	}
	.icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
		svg {
			fill: white;
		}
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li {
		height: 64px;
		margin-right: 5px;
		display: inline-block;
		border-bottom: 4px solid transparent;
		padding-top: 16px;
		padding-left: 10px;
		padding-right: 10px;
		transition: border .2s;
		font-size: 18px;
		a {
			color: fade(white, 75%);
		}
		&.active {
			border-bottom: 3px solid white; //#FEC00A;
			a {
				color: white;
			}
		}
		@media all and (max-width: @small-size) {
			padding: 8px;
		}
	}
	.right {
		text-align: right;
		//width: 360px;
		li a {
			color: white;
		}
		svg {
			position: relative;
			top: -2px;
		}
	}
	.bottom-bar {
		background: @blue-alternate;
	}
	@media all and (max-width: @mid-size) {
		.right {
			display: none;
		}
	}
}

#logo {
	width: 150px;
	@media all and (max-width: @small-size) {
		width: 120px;
	}
}

h1 {
	position: absolute;
	text-indent: -9999px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
	padding: 0 20px;
	@media all and (max-width: @small-size) {
		padding: 0 10px;
	}
}

.scroll-tabs {
	padding-left: 10px;
	display: inline-block;
	@media all and (max-width: @mid-size) {
		width: 100%;
	}
	@media all and (max-width: @small-size) {
		overflow: scroll;
		font-size: 14px;
		padding: 0 10px;
	}
	ul {
		@media all and (max-width: @small-size) {
			min-width: 380px;
		}
	}
	li {
		font-size: 16px;
		height: 48px;
		padding-top: 12px;
		@media all and (max-width: @small-size) {
			height: 40px;
		}
	}
}

section {
	position: relative;
	.wrapper {
		position: relative;
		background: white;
	}
	.shadow-wrapper {
		box-shadow: 0 20px 56px rgba(0,0,0,.35);
	}
}

button, input[type="submit"] {
	appearance: none;
	background: white;
	color: @blue-alternate;
	border: none;
	outline: none;
	border-radius: 999px;
	font-family: @font-stack;
	font-size: 16px;
	height: 32px;
	padding: 0 24px;
	box-shadow: 0 0 0 rgba(0,0,0,.5);
	transition: box-shadow .2s;
	svg {
		margin-right: 5px;
		vertical-align: middle;
		fill: @blue-primary;
	}
	&:hover {
		box-shadow: 0 5px 15px rgba(0,0,0,.25);
	}
	&:focus {
		box-shadow: 0 5px 15px rgba(0,0,0,.25);
	}
}

.filters {
	position: absolute;
	top: 14px;
	left: 13px;
	z-index:1;
	cursor: pointer;
}

table {
	width: 100%;
	@media all and (max-width: @small-size) {
		font-size: 14px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	td, th {
		height: 50px;
		vertical-align: middle;
		text-align: left;
		//border-right: 1px solid #ddd;
		padding: 0 5px;
		white-space: nowrap;
		cursor: default;
		div {
			display: inline-block;
		}
	}
	td {
		min-width: 80px;
		&:first-of-type {
			min-width: 0;
			width: 50px;
			border-top: none;
			border-right: none;
			margin-top: 1px;
			max-width: 50px;
			padding: 0;
			text-align: center;
			position: relative;
			z-index: 2;
			img {
				width: 36px;
				margin: 8px;
				background: url('../img/logo-sprites.png') no-repeat;
				background-size: 536px;
			}
		}
	}
	th {
		background: #f0f0f0;
		border-bottom: 1px solid #ddd;
		position: relative;
		z-index: 3;
		//padding-top: 15px;
		&:first-of-type {
			width: 50px;
			height: 51px;
		}
	}

	// thead tr {
	// 	background: #ddd;
	// 	td:first-of-type {
	// 		margin: 0;
	// 	}
	// }

	tbody tr {
		td {
			background: white;
			border-right: 1px solid #eee;
		}
		&:nth-of-type(even) {
			td {
				background: #f0f0f0;
			}
		}
	}
	tr:last-of-type {
		td {
			border-bottom: 1px solid #eee;
		}
	}
	img {
		width: 24px;
	}
	svg {
		fill: #555;
	}
	.pricing-col {
		min-width: 56px;
		* {
			vertical-align: middle;
		}
	}
	.colspan-2 {
		min-width: @col-width*2;
	}
	.colspan-3 {
		min-width: @col-width*3+;
	}
	.colspan-4 {
		min-width: @col-width*4;
	}
	.colspan-5 {
		min-width: @col-width*5;
	}
	.colspan-7 {
		min-width: @col-width*7;
	}
	.colspan-8 {
		min-width: @col-width*8;
	}
	.flex-wrapper {
		display: flex;
	}
	.flex-col {
		width: 30px;
		text-align: center;
	}
}

.zero-state {
	background: #f0f0f0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 15%;
	border: 1px solid #ccc;
	svg {
		fill: #ccc;
		transform: scale(2);
	}
	h4 {
		margin-top: 24px;
		color: #999;
	}
}

.filters-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: fade(black, 10%);
	z-index: 2;
	opacity: 1;
	transition: opacity .2s;
	.wrapper {
		background: none;

	}
	.modal-wrapper{
		position: absolute;
		top: 86px;
		left: 14px;
		padding: 16px 20px;
		background: white;
		max-width: 500px;
		z-index: 2;
		box-shadow: 0 10px 24px fade(black, 30%);
		transition: all .2s ease-in-out;
	}
	ul {
		columns: 100px 2;
		li {
			line-height: 32px;
		}
		input {
			margin-right: 10px;
		}
	}
	button {
		appearance: none;
		background: none;
		cursor: pointer;
		color: @blue-primary;
		outline: none;
		box-shadow: none;
		font-family: @font-stack;
		font-size: 16px;
		border: 0;
		margin-top: 10px;
		height: 32px;
	}
	.button-container {
		text-align: center;
		clear: both;
	}
	&.ng-hide {
			opacity: 0;
			.modal-wrapper {
				transform: translateY(-10px);
			}
		}
	@media all and (max-width: @small-size) {
		background: fade(black, 50%);
		.wrapper {
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
		}
		.modal-wrapper {
			position: absolute;
			transform: translateY(0);
			top: auto;
			bottom: 0;
			left: auto;
			width: 100%;
			background: white;
			box-shadow: 0 10px 48px fade(black, 30%);
			padding: 20px;
		}
		&.ng-hide {
			opacity: 0;
			.modal-wrapper {
				transform: translateY(100px);
			}
		}
	}
	@media all and (max-width: @mid-size) {
		padding: 0;
	}
	
}

.star {
    position: absolute;
    top: -3px;
    left: 31px;
    svg path {
    	fill: #FFC107;
    }
}


