header#main-header
	.top-bar
		h1.screen-reader UX Tools
		.wrapper
			.left
				a(href="/")
					img#logo(src="/img/uxtools-logo.svg" alt="UX Tools")
			.right
				ul
					li
						a(href="/tools") 
							span Tools
					li
						a(href="/library") 
							span Library
					li
						a(href="https://blog.uxtools.co") 
							span Blog
					li
						a(href="/about.html") 
							span About
					li
						a(href="http://newsletter.uxtools.co")
							button.small
								| Subscribe
			#hamburger
				.icon
					include ../img/icons/menu.svg
				span Menu
	#sidebar
		#shade.shade
			.container
				ul
					li
						a(href="/tools") 
							span Tools
					li
						a(href="/library") 
							span Library
					li
						a(href="https://blog.uxtools.co") 
							span Blog
					li
						a(href="/about.html") 
							span About
					li
						a(href="http://newsletter.uxtools.co")
							include ../img/icons/email.svg
							span Subscribe
				#close.close
					include ../img/icons/close.svg
	block bottomBar
	