script(type="text/x-template" id="prototyping-tools")
	div
		table#scroll-table(v-scrolltable="")
			thead#fixed-header
				tr
					th(v-for="column in toolsData.columns" class="fixed-header")
						span(style="display: block; position: relative" v-tooltip.bottom-center="column.tipText") {{ column.title }}
			tbody
				tr(v-for="app in computedTools")
					td(class="fixed-col")
						a(v-bind:href="app.url" v-bind:title="app.url" target="_blank")
							img(v-bind:alt="app.name + ' Logo'" src="../img/blank.png" v-bind:style="app.image")
					td.name-col
						a(v-bind:href="app.url" v-bind:title="app.url" target="_blank") {{ app.name }}
					td.colspan-5
						div.flex-wrapper
							div.flex-col
								div(v-if="app.platforms.web" v-tooltip.bottom-center="'Web'")
									div(title="Web")
										include ../img/icons/cloud-outline.svg
							div.flex-col
								div(v-if="app.platforms.mac" v-tooltip.bottom-center="'Mac'")
									div(title="Mac")
										include ../img/icons/apple.svg
							div.flex-col
								div(v-if="app.platforms.windows" v-tooltip.bottom-center="'Windows'")
									div(title="Windows")
										include ../img/icons/windows.svg
							div.flex-col
								div(v-if="app.platforms.iOS" v-tooltip.bottom-center="'iOS'")
									div(title="iOS")
										include ../img/icons/apple-ios.svg
							div.flex-col
								div(v-if="app.platforms.android" v-tooltip.bottom-center="'Android'")
									div(title="Android")
										include ../img/icons/android.svg
					td
						div(v-if="app.pricing.free")
							include ../img/icons/check.svg
					td(style="min-width: 100px")
						span {{app.pricing.subscription}}
					td
						span {{app.pricing.purchase}}
					td
						div(v-if="app.design" title="Design from scratch")
							include ../img/icons/check.svg
					td.colspan-5
						div.flex-col
							div(v-tooltip.bottom-center="'Sketch'")
								img(src="../img/icons/sketch.png" v-if="app.import.sketch" title="Sketch")
						div.flex-col
							div(v-tooltip.bottom-center="'Photoshop'")
								img(src="../img/icons/photoshop.png" v-if="app.import.photoshop" title="Photoshop")
						div.flex-col
							div(v-tooltip.bottom-center="'Figma'")
								img(src="../img/icons/figma.png" v-if="app.import.figma" title="Figma")
						div.flex-col
							div(v-tooltip.bottom-center="'Balsamiq'")
								img(src="../img/icons/balsamiq.png" v-if="app.import.balsamiq" title="balsamiq")
						div.flex-col
							div(v-tooltip.bottom-center="'Dropbox'")
								img(src="../img/icons/dropbox.png" v-if="app.import.dropbox" title="dropbox")
						div.flex-col
							div(v-tooltip.bottom-center="'Mobile Camera'")
								div(v-if="app.import.camera" title="camera")
									include ../img/icons/camera.svg
					td
						div(v-if="app.micro")
							include ../img/icons/check.svg
					td
						div(v-if="app.transition")
							include ../img/icons/check.svg
					td
						div(v-if="app.data")
							include ../img/icons/check.svg
					td
						div(v-if="app.code")
							include ../img/icons/check.svg
					td.colspan-8
						div.flex-col
							div(v-if="app.sharing.web" v-tooltip.bottom-center="'Web'")
								div(title="Web")
									include ../img/icons/cloud-outline.svg
						div.flex-col
							div(v-if="app.sharing.iOS" v-tooltip.bottom-center="'iOS'")
								div(title="iOS")
									include ../img/icons/apple-ios.svg
						div.flex-col
							div(v-if="app.sharing.android" v-tooltip.bottom-center="'Android'")
								div(title="Android")
									include ../img/icons/android.svg
						div.flex-col
							div(v-if="app.sharing.mac" v-tooltip.bottom-center="'Mac'")
								div(title="Mac")
									include ../img/icons/apple.svg
						div.flex-col
							div(v-if="app.sharing.windows" v-tooltip.bottom-center="'Windows'")
								div(title="Windows")
									include ../img/icons/windows.svg
						div.flex-col
							div(v-if="app.sharing.pdf" v-tooltip.bottom-center="'PDF'")
								div(title="PDF")
									include ../img/icons/file-pdf-box.svg
						div.flex-col
							div(v-if="app.sharing.html" v-tooltip.bottom-center="'HTML'")
								div(title="HTML")
									include ../img/icons/html.svg
						div.flex-col
							div(v-if="app.sharing.appleWatch" v-tooltip.bottom-center="'Apple Watch'")
								div(title="Apple Watch")
									include ../img/icons/watch.svg
						div.flex-col
							div(v-if="app.sharing.appleTv" v-tooltip.bottom-center="'Apple TV'")
								div(title="Apple TV")
									include ../img/icons/appletv.svg
					td
						div(v-if="app.handoff")
							include ../img/icons/check.svg
					td
						div(v-if="app.tasks")
							include ../img/icons/check.svg
					td
						div(v-if="app.analytics")
							include ../img/icons/check.svg
					td
						div(v-if="app.heatmap")
							include ../img/icons/check.svg
					td
						div(v-if="app.sensors")
							include ../img/icons/check.svg
		.new-tool(href="https://docs.google.com/forms/d/e/1FAIpQLSdTwq-eAGVFEOo6r3yjWDVExbE_h5QoryReIBmKG5PCh_b--w/viewform?usp=sf_link" title="Submit a new tool")
			include ../img/icons/plus-box-outline.svg
			span Submit a new tool
