
<script type="text/x-template" id="design-tools">
  <table id="scroll-table">
    <thead id="fixed-header">
      <tr>
        <th v-for="column in designData.columns" class="fixed-header"><span>{{ column.title }}</span></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="app in designData.tools">
        <td class="fixed-col"><a v-bind:href="app.url" v-bind:title="app.url" target="_blank"><img v-bind:alt="app.name + 'Logo'" src="../img/blank.png" v-bind:style="app.image"/></a></td>
        <td class="name-col"><a v-bind:href="app.url" v-bind:title="app.url" target="_blank">{{ app.name }}</a></td>
      </tr>
    </tbody>
  </table>
</script>