div.filters(title="Filters" ng-click="showFiltersModal('show');")
  img(src="img/icons/table-edit.svg" tooltip-side="bottom" tooltips tooltip-template="Filters")

div.filters-modal(ng-show="modalShowing" ng-click="showFiltersModal('hide')")
  .wrapper
    .modal-wrapper(ng-click="$event.stopPropagation()")
      ul
        li(ng-repeat="filter in tempFilters" ng-if="tempFilters[$index].canChange") 
          input(type="checkbox" ng-model="tempFilters[$index].show")
          | {{ filter.title }}
      .button-container
        button(ng-click="setFilters()") Set Filters
table(fixed-header-table)
  thead
    tr
      th(ng-repeat="filter in filters" ng-if="isFilterVisible(filter.title)")
        span(tooltips tooltip-side="bottom" tooltip-template="{{filter.tipText}}") {{ filter.title }}
  tbody
    tr(ng-repeat="app in prototypingTools | orderBy:'name'")

      td
        a(ng-href="{{app.url}}" title="{{app.url}}" target="_blank")
          img(ng-src="{{app.image}}")
        .star(ng-include="'img/icons/star.svg'" ng-if="app.taylorChoice")
      td 
        a(ng-href="{{app.url}}" title="{{app.url}}" target="_blank") {{ app.name }}

      td(ng-if="isFilterVisible('Free');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.pricing.free")
      td(style="min-width: 100px" ng-if="isFilterVisible('Subscription');")
        span {{app.pricing.subscription}}
        
      td(ng-if="isFilterVisible('Platform');")
        div.flex-wrapper
          div.flex-col
            div(ng-if="app.platforms.web" tooltips tooltip-template="Web")
              div(ng-include="'img/icons/cloud-outline.svg'" title="Web")
      td(ng-if="isFilterVisible('Playback');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.playback")
      td(ng-if="isFilterVisible('Skip');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.skipInactivity")
      td(ng-if="isFilterVisible('Speed');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.playbackSpeed")
      td(ng-if="isFilterVisible('Jump Back');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.jumpBack")
      td(ng-if="isFilterVisible('Console');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.console")
      td(ng-if="isFilterVisible('Heatmaps');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.heatmaps")
      td(ng-if="isFilterVisible('Location');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.location")
      td(ng-if="isFilterVisible('Form Stats');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.formAnalytics")
      td(ng-if="isFilterVisible('Polls');")
        div(ng-include="'img/icons/check.svg'" ng-if="app.polls")
      td(ng-if="isFilterVisible('Export');")
        div.flex-col
          div(ng-if="app.export.html" tooltips tooltip-template="Static HTML file")
            div(ng-include="'img/icons/html.svg'" title="HTML")