
<div id="newsletter">
  <h2>The UX Tools Newsletter</h2>
  <h3>Not a list of links. Not a productivity hack.</h3>
  <p>Ever since I created uxtools.co, companies likes Adobe and Zurb have reached out to have me try their latest tools. Sign up for the UX Tools newsletter and get completely original updates on the industry’s biggest tools (and the small ones too).</p>
  <table fixed-header-table="fixed-header-table"></table>
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"/>
  <div id="mc_embed_signup">
    <form id="mc-embedded-subscribe-form" action="//uxtools.us14.list-manage.com/subscribe/post?u=56c88bcfa8f1dc80f5c401b3a&amp;id=218467b99e" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="validate">
      <div class="mc-field-group">
        <label for="mce-EMAIL"></label>Email Address  
      </div>
      <input id="mce-EMAIL" type="email" value="" name="EMAIL" class="required email"/>&#x9;
      <div id="mce-responses" class="clear">
        <div id="mce-error-response" style="display:none" class="response"></div>&#x9;&#x9;
        <div id="mce-success-response" style="display:none" class="response"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_56c88bcfa8f1dc80f5c401b3a_218467b99e" tabindex="-1" value=""/>
      </div>
      <div class="clear">
        <input id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="button"/>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>