
<div ng-include="'img/icons/table-edit.svg'" title="Filters" ng-click="showFiltersModal('show');" class="filters"></div>
<div ng-show="modalShowing" ng-click="showFiltersModal('hide')" class="filters-modal">
  <div class="wrapper">
    <div ng-click="$event.stopPropagation()" class="modal-wrapper">
      <ul>
        <li ng-repeat="filter in tempFilters" ng-if="tempFilters[$index].canChange"> 
          <input type="checkbox" ng-model="tempFilters[$index].show"/>{{ filter.title }}
        </li>
      </ul>
      <div class="button-container">
        <button ng-click="setFilters()">Set Filters</button>
      </div>
    </div>
  </div>
</div>
<table fixed-header-table="fixed-header-table">
  <thead>
    <tr>
      <th ng-repeat="filter in filters" ng-if="isFilterVisible(filter.title)"><span tooltips="tooltips" tooltip-side="bottom" tooltip-speed="fast" tooltip-template="{{filter.tipText}}">{{ filter.title }}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in prototypingTools | orderBy:'name'">
      <td><a ng-href="{{app.url}}" title="{{app.url}}"><img ng-src="{{app.image}}"/></a></td>
      <td> <a ng-href="{{app.url}}" title="{{app.url}}">{{ app.name }}</a></td>
      <td ng-if="isFilterVisible('Platform');" class="colspan-5">
        <div class="flex-wrapper">
          <div tooltips="tooltips" tooltip-template="test" class="flex-col">
            <div ng-include="'img/icons/cloud-outline.svg'" ng-if="app.platforms.web" title="Web"></div>
          </div>
          <div class="flex-col">
            <div ng-include="'img/icons/apple.svg'" ng-if="app.platforms.mac" title="Mac"></div>
          </div>
          <div class="flex-col">   
            <div ng-include="'img/icons/windows.svg'" ng-if="app.platforms.windows" title="Windows"></div>
          </div>
          <div class="flex-col">
            <div ng-include="'img/icons/apple-ios.svg'" ng-if="app.platforms.iOS" title="iOS"></div>
          </div>
          <div class="flex-col">
            <div ng-include="'img/icons/android.svg'" ng-if="app.platforms.android" title="Android"></div>
          </div>
        </div>
      </td>
      <td ng-if="isFilterVisible('Design');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.design" title="Design from scratch"></div>
      </td>
      <td ng-if="isFilterVisible('Import');" class="colspan-3">
        <div class="flex-col"><img ng-src="img/icons/sketch.png" ng-if="app.import.sketch" title="Sketch"/></div>
        <div class="flex-col"><img ng-src="img/icons/photoshop.png" ng-if="app.import.photoshop" title="Photoshop"/></div>
        <div class="flex-col"><img ng-src="img/icons/balsamiq.png" ng-if="app.import.balsamiq" title="balsamiq"/></div>
      </td>
      <td ng-if="isFilterVisible('Animations');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.micro"></div>
      </td>
      <td ng-if="isFilterVisible('Navigation');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.navigation"></div>
      </td>
      <td ng-if="isFilterVisible('Transitions');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.transition"></div>
      </td>
      <td ng-if="isFilterVisible('Data');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.data"></div>
      </td>
      <td ng-if="isFilterVisible('Code');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.code"></div>
      </td>
      <td ng-if="isFilterVisible('Sharing');" class="colspan-8">
        <div class="flex-col">
          <div ng-include="'img/icons/cloud-outline.svg'" ng-if="app.sharing.web" title="Web"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/apple-ios.svg'" ng-if="app.sharing.iOS" title="iOS"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/android.svg'" ng-if="app.sharing.android" title="Android"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/apple.svg'" ng-if="app.sharing.mac" title="Mac"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/windows.svg'" ng-if="app.sharing.windows" title="Windows"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/watch.svg'" ng-if="app.sharing.appleWatch" title="Apple Watch"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/appletv.svg'" ng-if="app.sharing.appleTv" title="Apple TV"></div>
        </div>
        <div class="flex-col">
          <div ng-include="'img/icons/file-pdf-box.svg'" ng-if="app.sharing.pdf" title="PDF"></div>
        </div>
      </td>
      <td ng-if="isFilterVisible('Tasks');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.tasks"></div>
      </td>
      <td ng-if="isFilterVisible('Analytics');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.analytics"></div>
      </td>
      <td ng-if="isFilterVisible('Heatmap');">
        <div ng-include="'img/icons/check.svg'" ng-if="app.heatmap"></div>
      </td>
    </tr>
  </tbody>
</table>